---
layout: default
description: The personal blog of T.C. Howitt
image:
    feature: oil-lamp.jpg
---

<!-- This loops through the paginated posts -->
<div class="paginated-content">
  <div class="page-content">
    <table>
      {% for post in paginator.posts %}
        <tr>
          <td class="post-thumb-container">
            <div>
              {% if post.image.feature %}
                {% if post.image.feature contains 'https://' | escape or post.image.feature contains 'http://' | escape %}
                <a href="{{ post.url }}"><image src="{{ post.image.feature }}"></image></a>
                {% else %}
                <a href="{{ post.url }}"><image src="{{ site.url }}/images/{{ post.image.feature }}"></image></a>
                {% endif %}
              {% endif %}
            </div>
          </td>

          <td class="post-content-container">
            <div>
              <h4><a href="{{ post.url }}">{{ post.title }}</a>{% if post.passage%} [{{ post.passage }}]{% endif %}</h4>
              <p class="small">
                <span class="date">{{post.date | date: "%b %d, %Y" }}</span>
              </p>
              <p class="content">{% if post.description %}{{ post.description  | strip_html | strip_newlines | truncatewords: 25 }}{% else %}{{ post.content | strip_html | strip_newlines | truncatewords: 25 }}{% endif %}</p>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>
