{% include JB/setup %}
{% include head.html %}

<section class="article">

  <div class="nav" style="background-image: url({{ site.url }}/images/blue-gradient-64px.png)"></div>

  <div class="marquee">
    {% for post in site.posts | limit:3 %}
      <span><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></span>
    {% endfor %}
  </div>

  <article class="wrap post">
    <div class="article-content">
      <header class="post-header">
        <hgroup>
          <h1>{{page.title}}</h1>
          <p class="date">{{page.date | date: "%b %d, %Y" }}</p>
          <p class="intro">{% if page.description %}{{ page.description }}{% else %}{{ page.tagline }}{% endif %}</p>
        </hgroup>
      </header>

      {{ content }}
    </div>

  </article>

</section>
</div>

{% include footer.html %}