{% include JB/setup %}
{% include head.html %}

<section class="article">

  <div class="nav" style="background-image: url({{ site.url }}/images/red-gradient-64px.png)"></div>

  <article class="wrap post">
    <header class="post-header">
      <hgroup>
        <h1>{{page.title}}</h1>
        <p class="small">
          <!-- <span class="author">By {{page.author}}</span> -->
          <span class="date">{{page.date | date: "%b %d, %Y" }}</span>
        </p>
        <p class="small">Source: <a target="_blank" href="{{ page.source.url }}">{{ page.source.name }}</a></p>

        {% if page.image.feature %}
          {% if page.image.feature contains 'https://' | escape or page.image.feature contains 'http://' | escape %}
          <image class="featured-image" src="{{ page.image.feature }}"></image>
          {% else %}
          <image class="featured-image" src="{{ site.url }}/images/{{ page.image.feature }}"></image>
          {% endif %}
        {% endif %}

      </hgroup>
    </header>

    {{ content }}

  <div class="post-sharing">
    {% include JB/sharing %}
  </div>

  {% include JB/comments %}

  </article>

</section>
</div>

{% include footer.html %}
